<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.ssm.sys.me.mapper.MeShareMapper" >
  <resultMap id="BaseResultMap" type="com.shop.ssm.sys.me.model.MeShare" >
    <constructor >
      <idArg column="oid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="uid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="stime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    oid, uid, sip, stime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from me_share
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from me_share
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.ssm.sys.me.model.MeShare" >
    insert into me_share (oid, uid, sip, 
      stime)
    values (#{oid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{sip,jdbcType=VARCHAR}, 
      #{stime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.ssm.sys.me.model.MeShare" >
    insert into me_share
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        oid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="sip != null" >
        sip,
      </if>
      <if test="stime != null" >
        stime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="sip != null" >
        #{sip,jdbcType=VARCHAR},
      </if>
      <if test="stime != null" >
        #{stime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.ssm.sys.me.model.MeShare" >
    update me_share
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="sip != null" >
        sip = #{sip,jdbcType=VARCHAR},
      </if>
      <if test="stime != null" >
        stime = #{stime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.ssm.sys.me.model.MeShare" >
    update me_share
    set uid = #{uid,jdbcType=INTEGER},
      sip = #{sip,jdbcType=VARCHAR},
      stime = #{stime,jdbcType=TIMESTAMP}
    where oid = #{oid,jdbcType=INTEGER}
  </update>
</mapper>