<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.ssm.sys.ia.mapper.IaTypeMapper" >

  <resultMap id="BaseResultMap" type="com.shop.ssm.sys.ia.model.IaType" >
    <constructor >
      <idArg column="tid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tnote" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <resultMap id="iatype" type="com.shop.ssm.sys.ia.model.IaType" >
      <id column="tid" property="tid" javaType="java.lang.Integer" />
      <result column="tname" property="tname" javaType="java.lang.String" />
      <result column="tnote" property="tnote" javaType="java.lang.String" />
  </resultMap>

  <sql id="Base_Column_List" >
    tid, tname, tnote
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ia_type
    where tid = #{tid,jdbcType=INTEGER}
  </select>

    <select id="list" resultMap="iatype" parameterType="com.shop.ssm.sys.ia.model.IaType">
      SELECT *
      FROM ia_type
      WHERE 1=1
      <if test="null!=tname and ''!=tname">
        AND tname LIKE concat("%",#{tname,jdbcType=VARCHAR},"%")
      </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ia_type
    where tid = #{tid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.shop.ssm.sys.ia.model.IaType" >
    insert into ia_type (tname, tnote
      )
    values (#{tname,jdbcType=VARCHAR}, #{tnote,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.shop.ssm.sys.ia.model.IaType" >
    insert into ia_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="tname != null" >
        tname,
      </if>
      <if test="tnote != null" >
        tnote,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tnote != null" >
        #{tnote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.ssm.sys.ia.model.IaType" >
    update ia_type
    <set >
      <if test="tname != null" >
        tname = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tnote != null" >
        tnote = #{tnote,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.ssm.sys.ia.model.IaType" >
    update ia_type
    set tname = #{tname,jdbcType=VARCHAR},
      tnote = #{tnote,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>