<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.ssm.sys.pd.mapper.PdBrandMapper" >
  <resultMap id="BaseResultMap" type="com.shop.ssm.sys.pd.model.PdBrand" >
    <constructor >
      <idArg column="bid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="blogo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bdescribe" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <resultMap id="row1" type="com.shop.ssm.sys.pd.model.PdBrand" >
      <id column="bid" property="bid" javaType="java.lang.Integer" />
      <result column="blogo" property="blogo" javaType="java.lang.String" />
      <result column="bname" property="bname" javaType="java.lang.String" />
      <result column="bdescribe" property="bdescribe" javaType="java.lang.String" />
  </resultMap>
  <sql id="Base_Column_List" >
    bid, blogo, bname, bdescribe
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pd_brand
    where bid = #{bid,jdbcType=INTEGER}
  </select>
    <select id="list" resultMap="row1" resultType="com.shop.ssm.sys.pd.model.PdBrand">
      select *
      from pd_brand
      where 1=1
      <if test="null!=bname and ''!=bname">
        AND bname LIKE concat("%",#{bname,jdbcType=VARCHAR},"%")
      </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pd_brand
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.ssm.sys.pd.model.PdBrand" >
    insert into pd_brand (bid, blogo, bname,bdescribe)
    values (#{bid,jdbcType=INTEGER}, #{blogo,jdbcType=VARCHAR}, #{bname,jdbcType=VARCHAR}, 
      #{bdescribe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.ssm.sys.pd.model.PdBrand" >
    insert into pd_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        bid,
      </if>
      <if test="blogo != null" >
        blogo,
      </if>
      <if test="bname != null" >
        bname,
      </if>
      <if test="bdescribe != null" >
        bdescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="blogo != null" >
        #{blogo,jdbcType=VARCHAR},
      </if>
      <if test="bname != null" >
        #{bname,jdbcType=VARCHAR},
      </if>
      <if test="bdescribe != null" >
        #{bdescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.ssm.sys.pd.model.PdBrand" >
    update pd_brand
    <set >
      <if test="blogo != null" >
        blogo = #{blogo,jdbcType=VARCHAR},
      </if>
      <if test="bname != null" >
        bname = #{bname,jdbcType=VARCHAR},
      </if>
      <if test="bdescribe != null" >
        bdescribe = #{bdescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.ssm.sys.pd.model.PdBrand" >
    update pd_brand
    set blogo = #{blogo,jdbcType=VARCHAR},
      bname = #{bname,jdbcType=VARCHAR},
      bdescribe = #{bdescribe,jdbcType=VARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>