<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.ssm.sys.ad.mapper.AdAdminMapper">
    <resultMap id="BaseResultMap" type="com.shop.ssm.sys.ad.model.AdAdmin">
        <constructor>
            <idArg column="aid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="rid" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="aname" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="asex" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="atime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="astate" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="atel" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="aemail" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <resultMap id="adList" type="com.shop.ssm.sys.ad.model.AdAdmin">
        <id column="aid" property="aid" javaType="java.lang.Integer"/>
        <result column="aname" property="aname" javaType="java.lang.String"/>
        <result column="apwd" property="apwd" javaType="java.lang.String"/>
        <result column="salt" property="salt" javaType="java.lang.String"/>
        <result column="asex" property="asex" javaType="java.lang.String"/>
        <result column="atime" property="atime" javaType="java.sql.Timestamp"/>
        <result column="astate" property="astate" javaType="java.lang.Integer"/>
        <result column="atel" property="atel" javaType="java.lang.String"/>
        <result column="aemail" property="aemail" javaType="java.lang.String"/>
        <result column="aremake" property="aremake" javaType="java.lang.String"/>
        <association property="adState" javaType="com.shop.ssm.sys.ad.model.AdState">
            <id column="sid" property="sid" javaType="java.lang.Integer"/>
            <result column="sname" property="sname" javaType="java.lang.String"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    aid, rid, aname, asex, atime, astate, atel, aemail
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ad_admin
        where aid = #{aid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ad_admin
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.shop.ssm.sys.ad.model.AdAdmin">
    insert into ad_admin (aid, rid, aname, 
      asex, atime, astate, 
      atel, aemail)
    values (#{aid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}, #{aname,jdbcType=VARCHAR}, 
      #{asex,jdbcType=VARCHAR}, #{atime,jdbcType=TIMESTAMP}, #{astate,jdbcType=INTEGER}, 
      #{atel,jdbcType=VARCHAR}, #{aemail,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.shop.ssm.sys.ad.model.AdAdmin">
        insert into ad_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aid != null">
                aid,
            </if>
            <if test="rid != null">
                rid,
            </if>
            <if test="aname != null">
                aname,
            </if>
            <if test="asex != null">
                asex,
            </if>
            <if test="atime != null">
                atime,
            </if>
            <if test="astate != null">
                astate,
            </if>
            <if test="atel != null">
                atel,
            </if>
            <if test="aemail != null">
                aemail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aid != null">
                #{aid,jdbcType=INTEGER},
            </if>
            <if test="rid != null">
                #{rid,jdbcType=INTEGER},
            </if>
            <if test="aname != null">
                #{aname,jdbcType=VARCHAR},
            </if>
            <if test="asex != null">
                #{asex,jdbcType=VARCHAR},
            </if>
            <if test="atime != null">
                #{atime,jdbcType=TIMESTAMP},
            </if>
            <if test="astate != null">
                #{astate,jdbcType=INTEGER},
            </if>
            <if test="atel != null">
                #{atel,jdbcType=VARCHAR},
            </if>
            <if test="aemail != null">
                #{aemail,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.shop.ssm.sys.ad.model.AdAdmin">
        update ad_admin
        <set>
            <if test="rid != null">
                rid = #{rid,jdbcType=INTEGER},
            </if>
            <if test="aname != null">
                aname = #{aname,jdbcType=VARCHAR},
            </if>
            <if test="asex != null">
                asex = #{asex,jdbcType=VARCHAR},
            </if>
            <if test="atime != null">
                atime = #{atime,jdbcType=TIMESTAMP},
            </if>
            <if test="astate != null">
                astate = #{astate,jdbcType=INTEGER},
            </if>
            <if test="atel != null">
                atel = #{atel,jdbcType=VARCHAR},
            </if>
            <if test="aemail != null">
                aemail = #{aemail,jdbcType=VARCHAR},
            </if>
        </set>
        where aid = #{aid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.shop.ssm.sys.ad.model.AdAdmin">
    update ad_admin
    set rid = #{rid,jdbcType=INTEGER},
      aname = #{aname,jdbcType=VARCHAR},
      asex = #{asex,jdbcType=VARCHAR},
      atime = #{atime,jdbcType=TIMESTAMP},
      astate = #{astate,jdbcType=INTEGER},
      atel = #{atel,jdbcType=VARCHAR},
      aemail = #{aemail,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>