<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.ssm.sys.ad.mapper.PsTypeMapper" >
  <resultMap id="BaseResultMap" type="com.shop.ssm.sys.ad.model.PsType" >
    <constructor >
      <idArg column="tid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tname" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    tid, tname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ps_type
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ps_type
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.ssm.sys.ad.model.PsType" >
    insert into ps_type (tid, tname)
    values (#{tid,jdbcType=INTEGER}, #{tname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.ssm.sys.ad.model.PsType" >
    insert into ps_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="tname != null" >
        tname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.ssm.sys.ad.model.PsType" >
    update ps_type
    <set >
      <if test="tname != null" >
        tname = #{tname,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.ssm.sys.ad.model.PsType" >
    update ps_type
    set tname = #{tname,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>